<template>
  <div>
    <d-front-matter>
      <script type="text/json">
        {
          "title": "Distill Example",
          "description": "An example project using Docker, Nuxt, and Vue.",
          "password": "svgs",
          "authors": [
            {
              "author": "Ludwig Schubert",
              "authorURL": "https://schubert.io/",
              "affiliation": "OpenAI",
              "affiliationURL": "https://openai.com"
            }
          ],
          "katex": {
            "delimiters": [
              {
                "left": "$",
                "right": "$",
                "display": false
              },
              {
                "left": "$$",
                "right": "$$",
                "display": true
              }
            ]
          }
        }
      </script>
    </d-front-matter>

    <d-title>
      <h1>Distill Example</h1>
      <p>An example project using Docker, Nuxt, and Vue.</p>
    </d-title>

    <d-byline></d-byline>


    <div id="contents" class="base-grid" style="border-top: 1px solid #eee; padding: 1.5rem 0;">
      <nav class="l-text toc figcaption">
        <h3>Contents <span style="font-size:6pt">is this supposed to be injected?</span></h3>
        <div><a href="#known-bugs">Known Bugs</a></div>
        <div><a href="#quick-start">Quick Start</a></div>
        <div><a href="#second-thing">Second thing</a></div>
        <ul>
          <li><a href="#sub-item">sub item</a></li>
        </ul>
        <div><a href="#discussion">Discussion: receptive fields of modern networks</a></div>
      </nav>
    </div>

    <d-article>
      <h2 id="known-bugs">Known Bugs</h2>
      <ul>
        <li>
          <p>
            The HTML attribute <code>key</code> is reserved in Vuejs breaing:
            <d-code block language="html">
              &lt;d-cite key="authorYEARword"&gt;&lt;/d-cite&gt;
            </d-code>
          </p>
        </li>
        <li>
          <p>
            The distill.pub component:
            <d-code block language="html">
              &lt;d-byline>&lt;/d-byline&gt;
            </d-code>
            is fussy (it doesn't want to show at all)
          </p>
        </li>          
      </ul>

      <h2 id="quick-start">Quick Start</h2>
      <p>
        In case you didn't read the <code>README.md</code> or you are viewing this
        from GitLab Pages, here is how to get your publication off the ground.

        <d-code block language="bash">
          # for development
          docker-compose -f docker-compose.web.production.yml \
                         -f docker-compose.web.development.yml build
          docker-compose -f docker-compose.web.production.yml \
                         -f docker-compose.web.development.yml up
          docker-compose -f docker-compose.web.production.yml \
                         -f docker-compose.web.development.yml down

          # for production
          docker-compose -f docker-compose.web.production.yml build
          docker-compose -f docker-compose.web.production.yml up
          docker-compose -f docker-compose.web.production.yml down
        </d-code>

        If writing all that is too much, there is a short python script:
        <d-code block language="bash">
          # for development
          python docker.py build
          python docker.py up
          python docker.py down

          # for production
          python docker.py build -p
          python docker.py up -p
          python docker.py down -p
        </d-code>
      </p>

      <p>
        Welcome to a Distill example article: meant to get you writing up
        your research quickly. Let's demo some features:
      </p>

      <h4>Hot reloading</h4>
      <p>
        Your browser can automatically refresh when your editor saves. This
        should work by default. Sometimes hot reloading isn't fully
        compatible with all types of code, so you may need to try manually
        reloading if you're seeing inconsistent behavior.
      </p>

      <h4>Inlined SVGs</h4>
      <p>
        SVGs are so small that it can be nice to save an extra request and
        simply inline them intop your HTML:
      </p>

      <style>
        #arrow-2 #arrow-head {
          fill: steelblue;
        }
        #arrow-2 #arrow-line {
          stroke: steelblue;
        }
      </style>

      <p>
        Let's use some CSS to style an inlined SVG. Here's an arrow
        <svg
          width="27px"
          height="9px"
          viewBox="0 0 27 9"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
        >
          <g id="arrow" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="Group" transform="translate(-0.195652, 0.0)">
              <path
                d="M10.5,4.5 L26.8913043,4.5"
                id="arrow-line"
                stroke="#FF6600"
                stroke-width="2"
                stroke-linecap="square"
                stroke-dasharray="6 4"
              ></path>
              <g
                id="arrow-head"
                transform="translate(5.0, 4.5) scale(-1, 1) translate(-5.0, -4.5) translate(0.5, 0.0)"
                fill="#FF6600"
                fill-rule="nonzero"
              >
                <path
                  d="M4.5,0 C5.67007294,3.25202425 6.85281213,6.29180565 9,9 L4.5,7.3125 L0,9 C2.13530145,6.28972675 3.34126793,3.24998975 4.5,0 Z"
                  id="Shape"
                  transform="translate(4.5, 4.5) rotate(-270.0) translate(-4.5, -4.5) "
                ></path>
              </g>
            </g>
          </g>
        </svg>
        that we can make inline. If you'd like to change the color in CSS,
        we can do so. Let's put the second arrow (
        <span
          id="arrow-2"
        >
          <svg
            width="27px"
            height="9px"
            viewBox="0 0 27 9"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <g id="arrow" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="Group" transform="translate(-0.195652, 0.0)">
                <path
                  d="M10.5,4.5 L26.8913043,4.5"
                  id="arrow-line"
                  stroke="#FF6600"
                  stroke-width="2"
                  stroke-linecap="square"
                  stroke-dasharray="6 4"
                ></path>
                <g
                  id="arrow-head"
                  transform="translate(5.0, 4.5) scale(-1, 1) translate(-5.0, -4.5) translate(0.5, 0.0)"
                  fill="#FF6600"
                  fill-rule="nonzero"
                >
                  <path
                    d="M4.5,0 C5.67007294,3.25202425 6.85281213,6.29180565 9,9 L4.5,7.3125 L0,9 C2.13530145,6.28972675 3.34126793,3.24998975 4.5,0 Z"
                    id="Shape"
                    transform="translate(4.5, 4.5) rotate(-270.0) translate(-4.5, -4.5) "
                  ></path>
                </g>
              </g>
            </g>
          </svg>
        </span>
        ) in a tag with an ID, so we can target it in CSS.
        <d-code block language="css">
          #arrow-2 #arrow-head { fill: steelblue; } #arrow-2 #arrow-line {
          stroke: steelblue; }
        </d-code>
      </p>

      <h4>Formulas</h4>

      <p>
        Here's a test of an inline equation
        <d-math>c = a^2 + b^2</d-math>.
        Can also be used with configurable katex settings, for example by
        using inline
        <code>$</code> signs:
        <d-math>x^2</d-math>. There are
        also block equations:
      </p>
      <d-math block>c = \pm \sqrt{ \sum_{i=0}^{n}{a^{222} + b^2}}</d-math>
      <p>Math can also be quite involved:</p>
      <d-math block>
        \frac{1}{\Bigl(\sqrt{\phi \sqrt{5}}-\phi\Bigr) e^{\frac25 \pi}} =
        1+\frac{e^{-2\pi}} {1+\frac{e^{-4\pi}} {1+\frac{e^{-6\pi}}
        {1+\frac{e^{-8\pi}} {1+\cdots} } } }
      </d-math>

      <p>
        We've also been experimenting with
        <a
          href="https://github.com/distillpub/template/wiki/Annotated-Formulas"
        >annotated formulas</a>:
      </p>

      <style>
        .eq-grid {
          display: grid;
          justify-content: start;
          grid-row-gap: 10px;
        }
        .eq-grid figcaption d-math {
          font-size: 100%;
        }
        .eq-grid .expansion-marker {
          border: 1px solid #ccc;
          border-bottom: none;
          height: 0.5em;
          width: 100%;
        }
      </style>

      <figure class="eq-grid">
        <div style="grid-row: 1; grid-column: 1;">
          <d-math>C ~~~=~~~~</d-math>
        </div>
        <div style="grid-row: 1; grid-column: 2;">
          <d-math>H^E_D(X, Z)</d-math>
        </div>
        <div style="grid-row: 1; grid-column: 3;">
          <d-math>~~~-~~~</d-math>
        </div>
        <div style="grid-row: 1; grid-column: 4;">
          <d-math>H^E_E(X, Z)</d-math>
        </div>

        <div class="expansion-marker" style="grid-row: 2; grid-column: 4 / 7; "></div>

        <div style="grid-row: 3; grid-column: 1;">
          <d-math>~~~~~~~=~~~~</d-math>
        </div>
        <div style="grid-row: 3; grid-column: 2;">
          <d-math>H^E_D(X, Z)</d-math>
        </div>
        <div style="grid-row: 3; grid-column: 3;">
          <d-math>~~~-~~~</d-math>
        </div>
        <div style="grid-row: 3; grid-column: 4;">
          <d-math>H^E_E(Z | X)</d-math>
        </div>
        <div style="grid-row: 3; grid-column: 5;">
          <d-math>~~~-~~~</d-math>
        </div>
        <div style="grid-row: 3; grid-column: 6;">
          <d-math>H^E_E(X)</d-math>
        </div>

        <figcaption style="grid-row: 4; grid-column: 4; max-width:135px;">Bits to represent
          <d-math>z</d-math>
          <br>if you already know
          <d-math>x</d-math>.
        </figcaption>
        <figcaption style="grid-row: 4; grid-column: 6; max-width:120px;">Bits to represent
          <br>
          <d-math>x</d-math>by itself.
        </figcaption>
      </figure>

      <h4>Citations</h4>

      <p>
        We can
        <d-cite key="mercier2011humans"></d-cite>also cite
        <d-cite key="mercier2011humans"></d-cite>external publications.
        <d-cite key="mercier2011humans"></d-cite>. We should also be testing footnotes
        <d-footnote id="d-footnote-1">
          This will become a hoverable footnote. This will become a
          hoverable footnote. This will become a hoverable footnote. This
          will become a hoverable footnote. This will become a hoverable
          footnote. This will become a hoverable footnote. This will become
          a hoverable footnote. This will become a hoverable footnote.
        </d-footnote>. There are multiple footnotes, and they appear in the
        appendix
        <d-footnote id="d-footnote-2">
          Given I have coded them right. Also, here's math in a footnote:
          <d-math>c = \sum_0^i{x}</d-math>. Also, a citation.
          Box-ception
          <d-cite key="mercier2011humans"></d-cite>!
        </d-footnote>as well.
      </p>

      <h4>Displaying code</h4>
      <p>Some inline javascript:
        <d-code language="javascript">var x = 25;</d-code>. And here's a javascript code block.
      </p>

      <d-code block language="javascript">var x = 25; function(x){ return x * x; }</d-code>
      <p>We also support some highlighting.</p>
      <d-code block language="python">
        # Python 3: Fibonacci series up to n def fib(n): a, b = 0, 1 while a
        &lt; n: print(a, end=' ' ) a, b=b, a+b
      </d-code>

      <h4>Tables</h4>
      <p>
        We have simple tables that try to stay readable at most screen
        sizes:
      </p>

      <style>
        #example-table {
          overflow-x: scroll;
        }
        #example-table th {
          white-space: nowrap;
        }
        #example-table tbody th {
          font-weight: initial;
          border-bottom: 1px solid rgb(242, 242, 242);
        }
        #example-table tbody tr:last-of-type th {
          border-bottom: inherit;
        }
        #example-table td,
        #example-table thead th {
          text-align: center;
        }
        #example-table td {
          border-color: rgb(242, 242, 242);
        }
        #example-table td.no {
          background-color: #f6f6f6;
        }
      </style>
      <table id="example-table">
        <thead>
          <tr>
            <th></th>
            <th scope="col">Parallel</th>
            <th scope="col">Efficient</th>
            <th scope="col">Reversible</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">GANs</th>
            <td>Yes</td>
            <td>Yes</td>
            <td class="no">No</td>
          </tr>
          <tr>
            <th scope="row">Flow Models</th>
            <td>Yes</td>
            <td class="no">No</td>
            <td>Yes</td>
          </tr>
          <tr>
            <th scope="row">Autoregressive Models</th>
            <td class="no">No</td>
            <td>Yes</td>
            <td>Yes</td>
          </tr>
        </tbody>
      </table>

      <h4>Interactive Figures</h4>

      <p>
        Here's a dynamically instantiated "figure". We use Intersection
        Observers to allow loading resource-heavy figures only when readers
        scroll close to them. The code for this is in
        <code>src/index.js</code>.
      </p>

      <d-figure id="svelte-example-dfigure">
        <figure>
          <div id="svelte-example-target"></div>
          <figcaption>And a static figcaption. You can use citations
            <d-cite key="mercier2011humans"></d-cite>in this figcaption, but not in text added by javascript.
          </figcaption>
        </figure>
      </d-figure>

      <p>
        You can't use citation tags (
        <code>d-cite</code>) in figures that
        are dynamically loaded using Javascript. Distill statically analyzes
        your submission for its citations, because they need to be uploaded
        to indexers and organizations like
        <a
          href="https://www.crossref.org/"
        >CrossRef</a> and
        <a href="https://scholar.google.com">Google Scholar</a>.
      </p>

      <p>
        That's it for the example article! Feel free to look at
        <a
          href="https://github.com/distillpub?utf8=%E2%9C%93&q=post--&type=public"
        >implementations of existing Distill articles</a>, or ask for help in the
        <a href="http://slack.distill.pub">Distill Slack Community</a>.
      </p>
    </d-article>

    <d-appendix>
      <h3>Acknowledgments</h3>
      <p>We are deeply grateful to...</p>

      <p>Many of our diagrams are based on...</p>

      <h3>Author Contributions</h3>
      <p>
        <b>Research:</b> Alex developed ...
      </p>

      <p>
        <b>Writing & Diagrams:</b> The text was initially drafted by...
      </p>

      <d-footnote-list></d-footnote-list>
      <d-citation-list></d-citation-list>
    </d-appendix>

    <d-bibliography>
      <script type="text/json">
        [
          [
            "mercier2011humans",
            {
              "title": "On the Global Convergence of Gradient Descent for Over-parameterized Models using Optimal Transport",
              "author": "Lenaic Chizat and Francis Bach",
              "year": "2018",
              "booktitle": "Proc. NIPS",
              "url": "http://papers.nips.cc/paper/7567-on-the-global-convergence-of-gradient-descent-for-over-parameterized-models-using-optimal-transport.pdf",
              "type": "inproceedings"
            }
          ]
        ]
      </script>
    </d-bibliography>
  </div>
</template>

<script>
import Vue from "vue";

Vue.config.ignoredElements = [
  "d-front-matter",
  "d-title",
  "d-byline",
  "d-appendix",
  "d-article",
  "d-code",
  "d-math",
  "d-figure",
  "d-cite",
  "d-bibliography",
  "d-footnote-list",
  "d-citation-list"
];

export default {
  data: () => ({

  })
};
</script>

<style>
</style>
